[project]
	description = Example android app which uses the google spreadsheet to update the user current location lat long, string value of photo taken by user phone camera and direction path string from user location to I-service company office location.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ankitk93
[access "refs/for/refs/*"]
	read = group user/ankitk93
	push = group user/ankitk93
	label-Code-Review = -2..+2 group user/ankitk93
	label-Verified = -1..+1 group user/ankitk93
	rebase = group user/ankitk93
	removeReviewer = group user/ankitk93
	submit = group user/ankitk93
[access "refs/heads/*"]
	read = group user/ankitk93
	create = group user/ankitk93
	push = +force group user/ankitk93
	pushMerge = group user/ankitk93
[access "refs/tags/*"]
	push = group user/ankitk93
	push = +force group user/ankitk93
